.gg_media_upload{
	display:inline-block;
	background:#21759b;
	padding:5px;
	margin:0 5px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
}

.gg_media_image{
	max-width:100%;
	height:auto;
	margin:10px auto;	
}

#gg_ui_theme_thumb{
	vertical-align: top;
}

.gg_options_section{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	border:2px solid #21759b;
	width: 45%;
	min-width:350px;
	display: inline-block;
	vertical-align:top;
	padding:1%;
}

.gg_widget_section{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	;
	display:block;
	padding:5px;
	margin:5px 0;
}

.gg_hide{
	display:none;
}

#gg_event_info_boxes li{
	cursor:move;
	border:1px solid #ccc;
	margin:5px 0;
	padding:3px 0;
	background:#ddd;
}

.gg_delete_event_li{
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#333;
	color:#fff;
	padding:0 2px;
	margin: 2px 5px;
}

#gg_event-form .ui_slider{
width:200px;	
display:inline-block;
margin:0 5px;
}

#gg_event-form .ui-slider-label{
display:inline-block;	
}

#gg_event-form .ui-sortable li{
position:relative;
cursor:move;	
}

.column-gg_start_date,
.column-gg_end_date{
width:10%;	
}

#menu-posts-gg_events .menu-icon-gg_events .wp-menu-image img{
padding:0;	
}